:root {
  --bg-light: #f8fbff;
  --primary-green: #095725;
  --secondary-blue: #2d9cdb;
  --c-dark: #212529;
  --text-light: #666666;
  --white: #ffffff;
  --border-light: #e0e0e0;

  
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  
  --transparent-green: rgba(0, 128, 0, 0.05)
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-light);
  
}



.text-dark {
  color: var(--c-dark);
}

.text-light {
  color: var(--text-light);
}

.text-green{
  color: var(--primary-green);
}
.border-green{
  border: solid 2px var(--primary-green);
}



/* navbar */
.navbar {
  box-shadow: var(--box-shadow);
}
.navbar-brand {
  color: var(--primary-green);
  text-shadow: var(--c-dark);
  font-weight: 600;
}

.navbar-nav .nav-link {
  font-weight: 550;
  color: var(--text-light);
  transition:transform 0.5s ease-in-out;
}

.nav-link:hover {
    background-color:var(--primary-green); 
    color: white;            
    border-radius: 4px;      
}

/* PADDing */

.hero-head{
  padding-top: 100px;
}

/* btn */

.btn-green{
  border: var(--primary-green);
  border-radius: 5px;
  color: var(--c-dark);
  transition: transform 0.5s ease;
  border: #095725 solid 2px;
}

.btn-green:hover{

  background-color:var(--primary-green); 
  color: white;  
    box-shadow: 0 3px 4px var(--text-light);
  transform: scale(1.1);
}

.btn-dark{
  border: var(--primary-green);
  border-radius: 5px;
  color: var(--c-dark);
  transition: transform 0.5s ease;
  border: var(--c-dark) solid 2px;
  background-color: #ffffff;
}

.btn-dark:hover{

  background-color:var(--text-light); 
  color: white;  
    box-shadow: 0 4px 6px var(--text-light);
  transform: scale(1.2);
}

.hero-img{
  width: 400px;
  height: auto;
  transition: transform 0.5s ease;

}

.hero-img:hover{
  transform: scale(1.2);

}

/* padding */
.job-category-padd{
  padding-top: 150px;
}
/* job categories */
.cat-card{
  border: solid 1.9px var(--text-light);
  border-radius: 6px;
  padding: 15px;
  color: var(--text-light);
  font-size: 15px;
}

.cat-card:hover{
  border: #095725 1.9px solid;
  box-shadow: 2px 2px 2px var(--primary-green);
  color: #095725  ;
}
.icon-rounded{
  
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #666666;
     
  display: flex;
  justify-content: center; 
  align-items: center;  
  color: #212529;  

}

.rose-bg{
  background-color: rgb(231, 136, 162);
}
.blue-bg{
  background-color: powderblue;
}
.cream-bg{
  background-color: burlywood;
}







/* side bar  */
.bg-green .nav-link {
          
  transition: all 0.3s ease;
 
}


.bg-green .nav-link:hover {
  background-color: var(--c-dark);  
 
 
  border-radius: 6px;
}

/* job-card */

.job-card-banner{
  height: 90px;
}

.job-card-img{
  height:70px;
  width: 70px;
  border-radius: 6px;
  
}



/* footer */

.footer {
  background-color: var(--primary-green);
  font-size: small;

  padding: 30px 20px;
  color: #e0e0e0;
}
.footer .container {
  gap: 18px;
}

.footer a {
  text-decoration: none;
  color: var(--bg-light);
  transition: transform 0.3s ease;
}

footer a:hover {
  color: var(--bg-light);
  transform: scale(1.1);
  text-shadow: 0px 0px 5px var(--c-dark);
}



/* side-nav */

.bg-green{
  background-color: #095725;
}

.prof-pic{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 80% ;
}
.company-banner {
  position: relative;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.company-logo {
  position: absolute;
  bottom: -30px;
  left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
  object-fit: cover;
  
}
